# Dependencies
node_modules/
**/node_modules/

# Environment variables / secrets
.env
.env.*
!.env.example

# Build output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local files
*.local

# VS Code
.vscode/*
!.vscode/extensions.json

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp